
<header>
<ul>
  <li><a href="{{path('homepage')}}">{{('HEADER.HOME'|trans)}}
  </a></li>
  <li><a href="{{path('add_user')}}">{{('HEADER.REGISTER'|trans)}}</a></li>
  <li><a href="{{path('add_product')}}">{{('HEADER.ADD_PRODUCT'|trans)}}</a></li>
  <li><a href="{{path('list_product')}}">{{('HEADER.LIST_PRODUCT'|trans)}}</a></li>
</ul>

   <img src="../img/logo.png">
   
</header>

{% set infoMessages = app.flashes('info') %}
{% if infoMessages is not empty %} {#on crée une div que quand un produit a été créé#}

<div class="container">
	{% for message in infoMessages %}
		<p class="success">{{ message }}</p>
	{% endfor %}

</div>

{% endif %}
  